[submodule "react-godot"]
	path = public/react-godot
	url = https://github.com/ezwang/react-godot.git
[submodule "coolant-stabilizer"]
	path = public/coolant-stabilizer
	url = https://github.com/esburch/coolant-stabilizer.git
