[submodule "coolant-stabilizer"]
	path = public/coolant-stabilizer
	url = https://github.com/esburch/coolant-stabilizer.git
[submodule "public/react-godot"]
	path = public/react-godot
	url = https://github.com/josephrkramer/react-godot.git
