body {
    background-color:black;
    color:white;
}
div {
    margin-bottom: 16px;
}

#logo-image {
    max-width: 100%;
}

#contents-image {
    max-width: 100%;
    display:none;
}

#results-header {
    display:none;
    text-align:center;
    padding-top:70px;
    padding-bottom:70px;
}

#cargo-hold-title {
    text-align:center;
    padding-top:70px;
    padding-bottom:70px;
}

#crew-manifest-title {
    text-align:center;
    padding-top:70px;
    padding-bottom:70px;
}

#qr-reader {
    width:500px;
}

#cargo-hold {
    display: none;
}

#crew-manifest {
    display: none;
}

.major-button {
    font-size:36px;
    width:100%;
    background-color:white;
    color:black;
    padding:36px;
}

.cargo-type-text {
    font-size: xx-large;
    background-color: white;
    color: black;
}

.scanned-list-item-text {
    font-size: x-large;
    background-color: black;
    color: white;
}

.scanned-list-item-image {
    max-width: 150px;
}

hr {
    margin-top: 32px;
}